.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.category-scroll-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
  overflow: hidden; /* Hide the categories that are not currently visible */
}

.scroll-button {
  background-color: #e5e7eb;
  border: none;
  padding: 12px;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #8f8f8f;
}

.category-buttons {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.category-button {
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.category-button:hover {
  background-color: #8f8f8f;
  color: white;
}

.bg-blue-600 {
  background-color: #1c1c1c;
  color: white;
}

.bg-gray-200 {
  background-color: #e5e7eb;
  color: #374151;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media(min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
