.nav {
  position: fixed;          
  top: 0;                   
  left: 0;                  
  width: 100%;              
  display: flex;            
  justify-content: space-between; 
  align-items: center;      
  background-color: #000206; 
  padding: 10px 20px;      
  z-index: 1000;            
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  display: flex; 
  align-items: center;
  background-color: transparent;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar-profile {
  margin-right: 1px;
}

.navbar-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.hamburger {
  display: none; 
  font-size: 30px;
  cursor: pointer;
  color: white;
}


@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }

  .navbar-links {
    display: none; 
    position: absolute;
    top: 50px; 
    right: 10px; 
    width: auto; 
    background-color: #3b5998;
    padding: 10px 0;
    border-radius: 5px; 
  }

  .navbar-links.active {
    display: flex; 
    flex-direction: column;
    text-align: center;
  }

  .navbar-logo {
    flex-grow: 0; 
  }

  .navbar-profile {
    margin-right: 20px;
  }
}


@media (max-width: 480px) {
  .navbar-links.active {
    display: flex;
    justify-content: center;
  }

  .navbar-links a {
    padding: 10px 0;
    width: 100%;
  }
}
