
.stylish-text {
  font-family: 'Poppins', sans-serif; /* Example font, customize as needed */
  font-size: 1.2rem; /* Adjust font size */
}

.large-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #9e3ec1;
}

.subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
}

/* src/components/WelcomePage.css */

@media (max-width: 768px) {
  .hero-section p {
    font-size: 1.2rem !important; /* Smaller font size on small screens */
  }

  .navbar-brand {
    font-size: 1.5rem; /* Adjust brand size */
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .highlights-section .card {
    margin-bottom: 15px;
  }

  .testimonials-section .col-md-4 {
    margin-bottom: 20px;
  }
}



