.messagesContainer {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .message {
    background-color: #e1f5fe;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    word-break: break-word;
  }
  